h1 {
  text-align: center;
    color: brown;
}

h1{
    border: solid;
}
.header{
    background-color: lightcyan;
    display:flex;
    justify-content: space-between;

}
.grid{
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.footer{
    display:flex;
    justify-content: flex-end;
}
p,h2{
     text-align: center ;
}